body{
    /* from Google font */
    font-family: 'PT Sans', sans-serif;
}

.banner-container{
    background-color: #cacaca;
}

.banner-column{
    background-color: #8d8d8d;   
}

.navbar-container{
    background-color: #262b37;
    position: sticky;
    top: 0;
    z-index: 3;
}

.about-container{
    background-color: #00bdbd;
}

.container-education{
    background-color: #eeeeee;
}

.bg-redtype{
    background-color: #f8857f;
}

.bg-redtype:hover{
    color: black!important;
}

.redtype-color{
    color: #f8857f;
}

.circle-education{
    background-color: #f8857f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container{
    background-color: #2bb3dd;
}

.form-container{
    background-color: #474d5d;
}

.inner-form{
    background-color: #585f73;
}

.footer{
    background-color: #2bb3dd;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color:  #2bb3dd;
}

.circle:hover{
    background-color: #474d5d;
    color:  #2bb3dd;
}